html {
  font-family: 'Oswald', sans-serif;
}

.skinny {
  font-weight: 200;
}

.skinnier {
  max-width: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

footer  {
  background-color: grey;
  color: #fff;
}

.bg-light {
  background-color: cornflower;
}

.current {
  text-decoration: overline;
}

h1 {
  color: black;
}

.hover-photo {
  opacity: 0;
}

.hover-box:hover .hover-photo {
  opacity: .4;
}

.logo {
  width: 100px;
}

.masthead {
  max-height: 11rem;
  overflow: hidden;
}

.opacity {
  opacity: 30%;
}

@media only screen and (min-width: 38em) {

  .logo {
    width: 150px;
  }

}
