html {
  font-family: 'Oswald', sans-serif;
}

.card h2 {
  color: #000;
  transform: rotate(270deg);
  transform-origin: top right;
  top: 0;
  /* right: calc(100% - 1.625rem); */
  right: 100%;
  z-index: 1000;
  font-weight: 400;
  width: 200%;
}

.skinny {
  font-weight: 200;
}

.skinnier {
  max-width: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

footer  {
  background-color: #f9f6c3;
  color: #000;
}

.bg-light {
  background-color: cornflower;
}

.current {
  text-decoration: overline;
}

h1 {
  color: black;
}

.hover-photo {
  opacity: 0;
  transition: opacity .2s cubic-bezier(.75, 0, .25, 1);
}

.card:hover .hover-photo {
  opacity: .7;
}

.main-photo {
  transition: filter .2s cubic-bezier(.75, 0, .25, 1);
}

.grid .card:hover .main-photo {
  filter: grayscale(100%);
}

.logo {
  width: 100px;
}

.masthead {
  max-height: 11rem;
  overflow: hidden;
}

.opacity {
  opacity: 30%;
}

.arrow {
  max-width: 150px;
  width: 100%
}

@media only screen and (min-width: 38em) {

  .logo {
    width: 150px;
  }

}
