<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Holli Holton Design</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/modules.css" rel="stylesheet">
  <link href="css/type.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/ukh5rzt.css">
</head>
<body>
<header class="masthead">
  <a href="index.html"><img src="images/logo.svg" class="logo island pin-t"></a>

  <div>
    <nav>
      <ul class="pin-tr gutter-1-4 list-group-inline">
        <li class="island-1-4 current"><a href="index.html">WORK</a></li>
        <li class="island-1-4"><a href="#contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>

  <img class="img-flex push" src="images/banner.svg" alt="banner image">
</header>
  <main>
    {{content}}
  </main>

  <footer id="contact" class="push-none footer grid">
    <small class="unit xs-1 s-1-2 island block">
      <h2 class="push-1-2 skinny">CONTACT</h2>
      <p class="push-none"><b>PHONE:</b> 6136618397</p>
      <p><b>EMAIL:</b> hello@holliholton.ca</p>
    </small>

      <ul class="push unit xs-1 s-1-2 list-group-inline right pad-t">
        <li>
          <a href="https://www.instagram.com/holli.design/">
            <div class="grid island">
              <i class="icon i-64 unit xs-1">
                <img src="images/instagram.svg" alt="">
              </i>
              <span class="icon-label unit xs-1">Instagram</span>
            </div>
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/holli-holton">
            <div class="island grid">
              <i class="icon i-64 unit xs-1">
                <img src="images/linkedin.svg" alt="">
              </i>
              <span class="icon-label unit xs-1">Linkedin</span>
            </div>
          </a>
        </li>
      </ul>


      <p class="gutter unit xs-1 micro push-0">HOLLI HOLTON 2018 ©</p>
    </small>
  </footer>
</body>
</html>
