<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Holli Holton Design</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/modules.css" rel="stylesheet">
  <link href="css/type.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="icon" href="/favicon.ico">
</head>
<body>
  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#nav">Jump to navigation</a></li>
  </ul>
<header role="banner" class="masthead relative">
  <a href="index.html"><img src="images/logo.svg" class="logo pin-c"></a>

  <div>
    <nav role="navigation" id="nav" tabindex="0">
      <ul class="pin-tr gutter-1-4 list-group-inline pad-t">
        <li class="island-1-4 current"><a href="index.html">WORK</a></li>
        <li class="island-1-4"><a href="#contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>

  <img class="img-flex" src="images/banner.svg" alt="banner image">
</header>
  <main role="main" id="main" tabindex="0">
    {{content}}
  </main>

  <hr class="true-ruler push-none">

  <footer role="contentinfo" id="contact" class="push-none footer grid">
    <small class="unit xs-1 s-1-2 island block">
      <h2 class="push-1-2 skinny">CONTACT</h2>
      <span class="push-none block"><b>PHONE:</b><a href="tel:+16136618397"> 613-661-8397</a></span>
      <span class="block"><b>EMAIL:</b><a href="mailto:hello@holliholton.ca"> hello@holliholton.ca</a></span>
    </small>

      <ul class="push social-icons unit xs-1 s-1-2 list-group-inline text-right pad-t">
        <li>
          <a href="https://www.instagram.com/holli.design/">
            <div class="island text-center">
              <i class="icon i-64">
                <img src="images/instagram.svg" alt="">
              </i>
              <span class="icon-label block">Instagram</span>
            </div>
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/holli-holton">
            <div class="island text-center">
              <i class="icon i-64">
                <img src="images/linkedin.svg" alt="">
              </i>
              <span class="icon-label block">Linkedin</span>
            </div>
          </a>
        </li>
      </ul>


      <p class="gutter unit xs-1 micro">HOLLI HOLTON 2018 ©</p>
    </small>
  </footer>
</body>
</html>
