<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Holli Holton Design</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/modules.css" rel="stylesheet">
  <link href="css/type.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,600" rel="stylesheet">
</head>
<body>
<header class="masthead">
  <a href="index.html"><img src="images/logo.svg" class="logo island pin-t"></a>

  <div>
    <nav>
      <ul class="pin-tr gutter-1-4 list-group-inline">
        <li class="island-1-4"><a href="work.html">WORK</a></li>
        <li class="island-1-4"><a href="#">CONTACT</a></li>
      </ul>
    </nav>
  </div>

  <img class="img-flex push" src="images/banner.svg" alt="banner image">
</header>
  <main>
    {{content}}
  </main>

  <footer class="pad-t">
    <div class="gutter">
      <h2 class="push-1-2 skinny">CONTACT</h2>
      <p class="push-none">PHONE: 6136618397</p>
      <p>EMAIL: hello@holliholton.ca</p>
      <p class="micro push-none">HOLLI HOLTON 2018 ©</p>
    </div>
  </footer>
</body>
</html>
